body{
	
			background-image:url(b4.jpg);
			background-size:cover;
			background-attachment: fixed;
		}

#frm{
	border:solid gray 1px;
	width:20%;
	border-radius:5px;
	margin:100px auto;
	background:grey;
	padding:50px;
}

#btn{
	color:blue;
	background:black;
	padding:5px;
	
}